.container {
  max-width: 1512px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  padding: 20px 0;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.results-count {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.character-list {
  display: grid;
  gap: 16px;
}

.character-card {
  background-color: #fff;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
  /* Necesario para posicionar el pseudo-elemento correctamente */
}

.character-link {
  display: block;
  position: relative;
}

.character-link img {
  width: 100%;
  height: 190px;
}

.character-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 7px;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}

.character-info {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.character-info::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-bottom: 12px solid white;
}

.character-name {
  font-size: 14px;
  flex: 1;
  text-align: left;
}

.favorites-icon {
  cursor: pointer;
  font-size: 20px;
  width: 18px;
  transition: color 0.3s ease;
}

.favorites-icon img {
  height: 18px;
}

.character-card:hover .character-info {
  background-color: red;
  /* Cambia a rojo oscuro */
  color: white;
  /* Cambia el texto a blanco */
}

.character-card:hover .favorites-icon {
  color: white;
  /* Cambia el color del icono a blanco */
}


/* Estilo responsivo */
@media (max-width: 600px) {
  .character-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .character-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 901px) {
  .character-list {
    grid-template-columns: repeat(7, 1fr);
  }
}