.container {
  max-width: 1512px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  padding: 20px 0;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.results-count {
  margin-bottom: 36px;
  font-size: 18px;
  font-weight: bold;
}

.character-list {
  display: grid;
  gap: 16px;
}


@media (max-width: 600px) {
  .character-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .character-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 901px) {
  .character-list {
    grid-template-columns: repeat(7, 1fr);
  }
}