.container {
  max-width: 1512px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  padding: 20px 0;
}

.search-container {
  position: relative;
  margin: 20px 0 12px 0;
}

.search-input {
  border: none;
  border-bottom: 1px solid var(--blackColor);
  border-radius: 0;
  box-shadow: none;
  color: var(--blackColor);
  font-family: var(--primaryFont);
  padding: 12px 20px 8px 40px;
  width: 100%;
}

.search-input::placeholder {
  color: var(--greyColor);
}

.search-input, .search-input::placeholder{
  text-transform: uppercase;
  font-size: 18px;
}

.search-input:focus {
  border-color: var(--blackColor);
  outline: none;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.results-count {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: bold;
}

.character-list {
  display: grid;
  gap: 16px;
}


@media (max-width: 600px) {
  .character-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .character-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 901px) {
  .character-list {
    grid-template-columns: repeat(7, 1fr);
  }
}