@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primaryFont: 'Roboto Condensed';
  --blackColor: #000000;
  --whiteColor: #FFFFFF;
  --marvelRed: #EC1D24;
  --greyColor: #AAAAAA;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primaryFont), sans-serif;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  max-width: 1512px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  padding: 20px 0;
}

.results-count {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: bold;
}

.character-list {
  display: grid;
  gap: 16px;
}


@media (max-width: 600px) {
  .character-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .character-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 901px) {
  .character-list {
    grid-template-columns: repeat(7, 1fr);
  }
}